.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #939393;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .footer-text {
        width: 298px;
    }
    
  }