@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 173px;
    padding-right: 173px;
  }
}

body {
  background-color: #0e0e0e;
  color: #fff;
  font-family: Montserrat, sans-serif;
}

body {
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/background/mobile/bg-body-mobile.svg);
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../images/background/tablet/bg-body-tablet.svg);
    background-size: contain;
  }
}
@media screen and (min-width: 1280px) {
  body {
    background-image: url(../images/background/desktop/bg-body-desktop.svg);
    background-size: cover;
  }
}
.footer-container {
  background-color: #0E0E0E; /* тимчасово */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #939393;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .footer-text {
    width: 298px;
  }
}
.background-header {
  width: 100%;
  height: 364px;
  background: url(../images/header-bg/bg-mobile.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .background-header {
    background: url(../images/header-bg/bg-tablet.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .background-header {
    background: url(../images/header-bg/pic-desctop.jpg);
    margin: 0 auto;
    max-width: 1280px;
    height: 446px;
  }
}
.logo-header {
  position: absolute;
}

.header-txt {
  margin-top: 80px;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.22;
  text-align: center;
  color: #2a0c23;
  text-shadow: 0 0 8px #dc56c5;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 800px;
  z-index: 2;
  animation: neonGlow 10s infinite alternate;
  will-change: text-shadow, color;
}

.header-txt.animate-header {
  animation: neonGlow 10s infinite alternate;
  will-change: text-shadow, color;
}

@keyframes neonGlow {
  0%, 100% {
    text-shadow: 0 0 5px #dc56c5, 0 0 10px #dc56c5, 0 0 20px #ff65bd, 0 0 40px #ff2483;
    color: #ffe6ff;
  }
  50% {
    text-shadow: 0 0 10px #ff65bd, 0 0 20px #ff65bd, 0 0 40px #ff2483, 0 0 80px #ff2483;
    color: #ffccee;
  }
}
.neon-text {
  position: relative;
  display: inline-block;
  padding: 0 5px;
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

.medium-flicker {
  animation: shine 2s forwards, blink 5s 1.5s infinite;
}

.slow-flicker {
  animation: shine 2s forwards, blink 7s 0.5s infinite;
}

@keyframes blink {
  0%, 22%, 36%, 75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd, -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd, 0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%, 33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%, 97% {
    color: #ff2483;
    text-shadow: none;
  }
}
@keyframes shine {
  0% {
    color: #2a0c23;
    text-shadow: none;
  }
  100% {
    color: #2a0c23;
    text-shadow: 0 0 8px #dc56c5;
  }
}
@media screen and (min-width: 768px) {
  .searching-block {
    display: flex;
    margin-top: 27px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-right: 30px;
  }
}
.input-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  z-index: 2;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.input-block:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.form-control {
  padding: 10px 30px;
  width: 270px;
  height: 40px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 20px;
  background: hsla(0, 0%, 100%, 0.2);
  color: #939393;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: none;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.form-control::-moz-placeholder {
  color: #939393;
}

.form-control::placeholder {
  color: #939393;
}

.choose-input {
  z-index: 2;
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 30px;
  color: #939393;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 20px;
  border-style: none;
  outline: none;
  cursor: pointer;
  background: hsla(0, 0%, 100%, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  position: relative;
  margin-top: 25px;
}

.choose-input:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .choose-input {
    width: 270px;
    margin-top: 0;
  }
}
.choose-country {
  display: block;
  text-align: start;
  position: relative;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.country-list {
  width: 270px;
  margin-left: -30px;
  color: #ccc;
  transform: scaleY(1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.choose-input svg, .input-form svg {
  position: absolute;
  top: 14px;
  right: 30px;
}

.choose-input svg {
  position: absolute;
  top: 14px;
}

.country-list.open {
  max-height: 400px;
}

.country-list li {
  padding: 8px 12px;
  color: #fff;
}

.choose-input {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.choose-country {
  display: inline-block;
  width: 200px;
}

.country-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #1c1c1c;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow-y: auto;
  transition: max-height 0.3s ease;
  z-index: 10;
  border-radius: 10px;
}

.country-list li:hover {
  background: #2c2c2c;
}

.titel-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  margin-bottom: 50px;
  justify-content: center;
}

.card {
  width: 194px;
  height: 312px;
  background: #1c1c1c;
  border-radius: 12px;
  overflow: hidden;
  padding: 12px;
  transition: transform 0.2s;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}

.title {
  color: #DC56C5;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.data {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 6px;
}

.place {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 80px;
  gap: 8px;
}

.pagination-btn {
  color: #FFFFFF;
  background: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
.pagination-btn:hover {
  border-color: #777;
}

.pagination-btn:focus {
  color: #DC56C5;
  border-color: #DC56C5;
}

.no-events {
  color: #ccc;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card img.event-img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.no-events {
  grid-column: 1/-1;
  color: #ccc;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

#countries {
  display: none;
}

.card.show {
  opacity: 1;
  transform: scale(1);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease, visibility 1s ease;
}
.preloader--hide {
  opacity: 0;
  visibility: hidden;
}

.loader-text {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff2e97;
  letter-spacing: 5px;
  display: flex;
  gap: 5px;
}
.loader-text span {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}
.loader-text span:nth-child(1) {
  animation-delay: 0.1s;
}
.loader-text span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-text span:nth-child(3) {
  animation-delay: 0.3s;
}
.loader-text span:nth-child(4) {
  animation-delay: 0.4s;
}
.loader-text span:nth-child(5) {
  animation-delay: 0.5s;
}
.loader-text span:nth-child(6) {
  animation-delay: 0.6s;
}
.loader-text span:nth-child(7) {
  animation-delay: 0.7s;
}
.loader-text span:nth-child(8) {
  animation-delay: 0.8s;
}
.loader-text span:nth-child(9) {
  animation-delay: 0.9s;
}
.loader-text span:nth-child(10) {
  animation-delay: 1s;
}
.loader-text span:nth-child(11) {
  animation-delay: 1.1s;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.preloader::before,
.preloader::after,
.preloader::backdrop,
.preloader::shadow {
  content: "";
  position: absolute;
  pointer-events: none;
  z-index: 0;
}

.preloader::before,
.preloader::after {
  top: 0;
  width: 120px;
  height: 100%;
  background: radial-gradient(circle at center, rgba(255, 0, 120, 0.7), rgba(255, 0, 120, 0.3), transparent 70%);
  filter: blur(80px);
  animation: glowPulse 6s ease-in-out infinite;
}

.preloader::before {
  left: 0;
}

.preloader::after {
  right: 0;
}

.preloader::backdrop,
.preloader::shadow {
  left: 0;
  width: 100%;
  height: 120px;
  background: radial-gradient(circle at center, rgba(255, 0, 120, 0.7), rgba(255, 0, 120, 0.3), transparent 70%);
  filter: blur(80px);
  animation: glowPulse 6s ease-in-out infinite;
}

.preloader::backdrop {
  top: 0;
}

.preloader::shadow {
  bottom: 0;
}

@keyframes glowPulse {
  0%, 100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */