<div class="header-img">
  <section>
    <!-- <div class="container"> -->
    <div class="background-header" id="up">
      <a href="index.html" class="logo-header">
        <picture>
          <source srcset="./images/logo/logo-desktop.png 1x" media="(min-width:1280px)" type="image/png" width="238px"
            height="201px" />
          <source srcset="./images/logo/logo-tablet.png 1x" media="(min-width:768px)" type="image/png" width="180px"
            height="151px" />
          <source srcset="./images/logo/logo-mobile.png 1x" media="(max-width:767px)" type="image/png" width="107px"
            height="90px" />
          <img class="logo-img" src="./images/logo/logo-mobile.png" alt="Event Booster" />
        </picture>
      </a>
      <div class="titel-block">
       <h1 class="header-txt">
                <span class="neon-text">
                    <span class="fast-flicker">F</span>I<span class="slow-flicker">N</span>D 
                    <span class="medium-flicker">B</span>E<span class="flicker">S</span>T 
                    <span class="slow-flicker">E</span>V<span class="medium-flicker">E</span>N<span class="fast-flicker">T</span>S 
                    A<span class="flicker">R</span>O<span class="medium-flicker">U</span>N<span class="slow-flicker">D</span> 
                    T<span class="fast-flicker">H</span>E 
                    W<span class="flicker">O</span>R<span class="medium-flicker">L</span>D
                </span>
            </h1>
        </div>    
      <div class="searching-block container">
        <form class="input-form search-form js-search-form">
          <div class="input-block">
            <input type="text" class="form-control" placeholder="Start searching" autocomplete="off" />
            <svg width="12" height="12">
              <use href="./images/icons/sprite.svg#icon-magnifier"></use>
            </svg>
          </div>
        </form>
        <div>
          <div class='choose-input'>
            <span class='choose-country' id='select-country-btn'>Choose country</span>
            <ul class='country-list js-dropdown'></ul>
            <svg class="select-icon" width=15 height=10>
              <use href="./images/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>