<section class="section">
    <div class="card">
        <img class="img" src="./images/main/Card1.png" alt="">
        <h3 class="title">Eurovision 2021 finals!</h3>
        <p class="data">2021-05-13</p>
        <h5 class="place">Palace of Ukraine</h5>
    </div>
    <div class="card">
        <img class="img" src="./images/main/Card2.png" alt="">
        <h3 class="title">Atlas Weekend</h3>
        <p class="data">2021-06-09</p>
        <h5 class="place">VDNH</h5>
    </div>
    <div class="card">
        <img class="img" src="./images/main/Card3.png" alt="">
        <h3 class="title">LP</h3>
        <p class="data">2021-07-27</p>
        <h5 class="place">Palace of Ukraine</h5>
    </div>
    <div class="card">
        <img class="img" src="./images/main/Card4.png" alt="">
        <h3 class="title">MONATIK</h3>
        <p class="data">2021-07-17</p>
        <h5 class="place">VDNH</h5>
    </div>
     <div class="card">
        <img class="img" src="./images/main/Card4.png" alt="">
        <h3 class="title">MONATIK</h3>
        <p class="data">2021-07-17</p>
        <h5 class="place">VDNH</h5>
    </div>
     <div class="card">
        <img class="img" src="./images/main/Card3.png" alt="">
        <h3 class="title">LP</h3>
        <p class="data">2021-07-27</p>
        <h5 class="place">Palace of Ukraine</h5>
    </div>
     <div class="card">
        <img class="img" src="./images/main/Card2.png" alt="">
        <h3 class="title">Atlas Weekend</h3>
        <p class="data">2021-06-09</p>
        <h5 class="place">VDNH</h5>
    </div>
     <div class="card">
        <img class="img" src="./images/main/Card1.png" alt="">
        <h3 class="title">Eurovision 2021 finals!</h3>
        <p class="data">2021-05-13</p>
        <h5 class="place">Palace of Ukraine</h5>
    </div>
    </div>
</section>
<div class="pagination"> <button class="pagination-btn">1</button>
   <button class="pagination-btn">2</button>
   <button class="pagination-btn">3</button>
   <button class="pagination-btn">4</button>
   <button class="pagination-btn">5</button>
 <button class="pagination-btn">...</button>
 <button class="pagination-btn">29</button></div>