<section class="section">
  <ul id="countries"></ul>
  <div class="events" id="events"></div>
  <div class="backdrop is-hidden">
    <div class="modal-window closed">
      <button class="modal-close-btn"><i class="icon-close"></i></button>
      <img src="./images/main/Card1.png" alt="Event logo" class="modal-event-logo">
      <div class="card-container">
        <img src="./images/main/Card1.png" alt="Event image" class="modal-event-img">
        <div class="text-card-container">
          <h2 class="title title-card">INFO</h2>
          <p class="text-card card-info">Atlas Weekend is the largest music festival
            in Ukraine.More than 200 artists will create
            a proper music festival atmosphere on 10 stages</p>
          <h2 class="title title-card">WHEN</h2>
          <p class="text-card card-date">2021-06-09</p>
          <h2 class="title title-card">WHERE</h2>
          <p class="text-card card-place">Kyiv, Ukraine </p>
          <h2 class="title title-card">WHO</h2>
          <p class="text-card card-arthour">The Black Eyed Peas</p>
          <h2 class="title title-card">PRICES</h2>
          <p class="text-card card-price-st"><i class="icon-ticket1"></i>Standart 300-500 UAH</p>
          <button class="buy-tickets">BUY TICKETS</button>
          <p class="text-card card-price-vip"><i class="icon-ticket1"></i>VIP 1000-1500 UAH</p>
          <button class="buy-tickets">BUY TICKETS</button>
        </div>
      </div>
    </div>
  </div>
</section>


    <div class="pagination" id="pagination">
     
    </div>
