
<div class="events" id="events"></div>
<div class="backdrop is-hidden">
  <div class="modal-window closed">
    <button class="modal-close-btn"><i class="icon-close"></i></button>
    <img src="./images/main/Card1.png" alt="Event logo" class="modal-event-logo">
    <div class="card-container">
      <img src="./images/main/Card1.png" alt="Event image" class="modal-event-img">
      <div class="text-card-container">
        <h2 class="title title-card">INFO</h2>
        <p class="text-card card-info">Atlas Weekend is the largest music festival
          in Ukraine.More than 200 artists will create
          a proper music festival atmosphere on 10 stages</p>
          <button class="view-full info-button">View Full</button>
          
        <h2 class="title title-card">WHEN</h2>
        <p class="text-card card-date">2021-06-09</p>
        <h2 class="title title-card">WHERE</h2>
        <p class="text-card card-place">Kyiv, Ukraine </p>
        <h2 class="title title-card">WHO</h2>
        <p class="text-card card-arthour">The Black Eyed Peas</p>
        <h2 class="title title-card">PRICES</h2>
      <div class="price-contaiener">
        <i class="icon-ticket1"></i><p class="text-card card-price-st">Standart 300-500 UAH</p>
      </div>
      <button class="buy-tickets">BUY TICKETS</button>
        <div class="price-contaiener">
        <i class="icon-ticket1"></i><p class="text-card card-price-vip">VIP 1000-1500 UAH</p>
      </div>
        <button class="buy-tickets">BUY TICKETS</button>
      </div>
    </div>
  </div>
  <div class="info-modal is-hidden">
    <p class="text-card card-info-full">Atlas Weekend is the largest music festival
      in Ukraine.More than 200 artists will create
      a proper music festival atmosphere on 10 stages</p>
      <button class="close-full info-button">Close Full</button>
  </div>
</div>

